<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group">
    <span class="input-group-text">Name</span>
    <%= form.text_field :name, class:"form-control", placeholder: "Jane Doe", :rows => "1" %>
    
  </div>
<br>
  <div class="input-group">
    <span class="input-group-text">Email</span>
    <%= form.text_field :email, class:"form-control", placeholder: "example@gmail.com", :rows => "1" %>
  </div>

<div>
<br>
  <button type="submit" class="btn btn-success">Submit</button>
  </div>
<% end %>
